
@namespace RizzyUI
@using Blazicons
@inherits RzComponent<RzAlert.Slots>

<CascadingValue Value="this" IsFixed="true">
	<HtmlElement Element="@EffectiveElement"
	             role="alert"
	             aria-live="assertive"
                 @attributes="@AdditionalAttributes"
                 id="@Id"
                 data-slot="alert"
                 class="@SlotClasses.GetBase()">
	    <div aria-atomic="true"
	         x-data="rzAlert" x-load="@LoadStrategy" x-show="showAlert"
	         x-transition:enter="transition ease-out duration-200 motion-reduce:transition-none"
	         x-transition:enter-start="opacity-0"
	         x-transition:enter-end="opacity-100"
	         x-transition:leave="transition ease-in duration-100 motion-reduce:transition-none"
	         x-transition:leave-start="opacity-100"
	         x-transition:leave-end="opacity-0"
	         data-alpine-root="@Id">
	         <div class="@SlotClasses.GetInnerContainer()" data-slot="alert-inner-container">
		         @if (Icon != null)
		         {
			         <div class="@SlotClasses.GetIconContainer()" aria-hidden="true" data-slot="alert-icon-container">
				         @if (Pulse)
				         {
					         <div class="@SlotClasses.GetIconPulse()" data-slot="alert-icon-pulse"></div>
				         }
				         <Blazicon Svg="Icon"></Blazicon>
			         </div>
		         }
		         <div class="@SlotClasses.GetContentContainer()" data-slot="alert-content-container">
			         @ChildContent
		         </div>

		         @if (Dismissable)
		         {
			         <button
				         type="button"
				         x-on:click="dismiss"
				         aria-label="@Localizer["RzAlert.CloseButtonAriaLabel"]"
				         class="@SlotClasses.GetCloseButton()"
				         data-slot="alert-close-button">
				         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor"
				              fill="none" stroke-width="2.5" class="@SlotClasses.GetCloseButtonIcon()" data-slot="alert-close-button-icon">
					         <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
				         </svg>
			         </button>
		         }
	         </div>
         </div>        
    </HtmlElement>
</CascadingValue>