
@namespace RizzyUI
@using Blazicons
@inherits RzComponent<RzDateEdit.Slots>

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             id="@Id"
             class="@SlotClasses.GetBase()"
             role="group" aria-label="Date picker">
	
	<div x-data="rzDateEdit" x-load="@LoadStrategy"
	     data-alpine-root="@Id"
	     data-config="@_serializedConfig"
	     data-uid="@_uid"
	     data-assets="@_assets"
	     data-nonce="@Nonce">

		<div class="@SlotClasses.GetInputWrapper()" x-data="rzPrependInput" x-load="@LoadStrategy" x-ref="pickerWrapper">
			@if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
			{
				<div x-ref="prependContainer" class="@SlotClasses.GetPrependElement()">
					@if (!string.IsNullOrEmpty(PrependText))
					{
						@PrependText
					}
					else if (PrependIcon != null)
					{
						<div class="@SlotClasses.GetPrependIconContainer()">
							<Blazicon Svg="PrependIcon"/>
						</div>
					}
				</div>
			}

			<input x-ref="textInput"
			       id="@_uidInputId"
			       type="text"
			       @bind="CurrentValue"
			       placeholder="@Placeholder"
			       class="@SlotClasses.GetInput()"
			       data-input
			       aria-label="Select date"/>
		</div>
	</div>	
</HtmlElement>