@namespace RizzyUI
@inherits RzComponent

<template x-teleport="body">
    <div class="contents">
        <div x-cloak
             x-show="modalOpen"
             x-transition:enter="ease-in-out duration-500"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="ease-in-out duration-300"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0"
             data-slot="@OverlayDataSlot"
             aria-hidden="true"
             class="@OverlayClass">
        </div>

        <HtmlElement Element="div"
                     @attributes="AdditionalAttributes"
                     x-cloak
                     x-show="modalOpen"
                     x-transition:enter="ease-out duration-300"
                     x-transition:enter-start="opacity-0 scale-95"
                     x-transition:enter-end="opacity-100 scale-100"
                     x-transition:leave="ease-in duration-200"
                     x-transition:leave-start="opacity-100 scale-100"
                     x-transition:leave-end="opacity-0 scale-95"
                     x-trap.inert="modalOpen"
                     x-on:click.outside="handleClickOutside"
                     role="@Role"
                     aria-modal="true"
                     aria-label="@AriaLabel"
                     aria-labelledby="@AriaLabelledBy"
                     aria-describedby="@AriaDescribedBy"
                     data-modal-panel="true"
                     data-slot="@ContentDataSlot"
                     class="@ContentClass">
            @ChildContent
        </HtmlElement>
    </div>
</template>
