
@using RizzyUI
@using Rizzy.Htmx
@using Rizzy

@namespace RizzyUI.Docs.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (UseContentSecurityPolicy)
    {
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' localhost:* http://localhost:* ws://localhost:* wss://localhost:*; script-src localhost:* wss://localhost:* 'nonce-@Nonce'; font-src fonts.gstatic.com; style-src 'self' fonts.googleapis.com 'nonce-@Nonce'; img-src 'self' data:;">
    }
    
    <HtmxConfigHeadOutlet/>

    <!--<link rel="stylesheet" href="_content/RizzyUI/dist/rizzyui.css" />-->

    <link nonce="@Nonce" rel="stylesheet" href="/css/app.css" />
    <RzHeadOutlet />
    <title>RizzyUI</title>
    
    <script nonce="@Nonce" src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script nonce="@Nonce" defer type="module" src="/_content/Rizzy/js/rizzy.js"></script>
    
    @if (UseContentSecurityPolicy)
    {
        <script nonce="@Nonce" defer type="module" src="@Assets["/_content/RizzyUI/js/rizzyui-csp.js"]"></script>
    }
    else
    {
        <script nonce="@Nonce" defer type="module" src="@Assets["/_content/RizzyUI/js/rizzyui.js"]"></script>
    }
    <script nonce="@Nonce" src="/js/site.js"></script>

    <link rel="preconnect" nonce="@Nonce" href="https://fonts.googleapis.com">
    <link rel="preconnect" nonce="@Nonce" href="https://fonts.gstatic.com" crossorigin>
    <link nonce="@Nonce" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	
    <link rel="preconnect" nonce="@Nonce" href="https://fonts.gstatic.com" crossorigin>
    <link nonce="@Nonce" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	
</head>

<body class="scroll-on-lg bg-background " hx-ext="rizzy-nonce" x-data="rzEmpty">

<RzThemeProvider>
    <Routes/>
</RzThemeProvider>

</body>

</html>

@code {
    private string Nonce { get; set; } = string.Empty;
    public static bool UseContentSecurityPolicy { get; set; } = false;

    [Inject] private IRizzyNonceProvider NonceProvider { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Nonce = NonceProvider.GetNonce();
    }

}
