@namespace RizzyUI
@using Blazicons
@using RizzyUI.Components.Internal
@inherits RzComponent<DialogContent.Slots>

<RzModalPrimitive Id="@ParentDialog!.Id"
                  ModalId="@ParentDialog.Id"
                  BodyId="@ParentDialog.BodyId"
                  FooterId="@ParentDialog.FooterId"
                  Role="dialog"
                  EventTriggerName="@ParentDialog.EventTriggerName"
                  CloseEventName="@ParentDialog.CloseEventName"
                  CloseOnEscape="@ParentDialog.CloseOnEscape"
                  CloseOnClickOutside="@ParentDialog.CloseOnClickOutside"
                  AriaLabelledBy="@ParentDialog.AriaLabelId"
                  OverlayClass="@SlotClasses.GetBackdrop()"
                  OverlayDataSlot="dialog-overlay"
                  ContentClass="@SlotClasses.GetBase()"
                  ContentDataSlot="dialog-content"
                  ContentAttributes="@AdditionalAttributes">
    @ChildContent

    @if (ShowCloseButton)
    {
        <button x-on:click="closeModal"
                type="button"
                aria-label="@Localizer["RzDialog.CloseButtonAriaLabel"]"
                data-slot="dialog-close"
                class="@SlotClasses.GetCloseButton()">
            <Blazicon Svg="Lucide.X" class="@SlotClasses.GetCloseButtonIcon()" data-slot="dialog-close-icon" aria-hidden="true" />
        </button>
    }
</RzModalPrimitive>
