
@namespace RizzyUI
@inherits RzComponent<RzDialog.Slots>

<CascadingValue Value="this" IsFixed="true">
	@{
		// If trying to use x-ref on a modal we'll drop in an inert placeholder to allow them to use
		// Rizzy.$data() to get the actual Modal data
		if (AdditionalAttributes?.TryGetValue("x-ref", out var attribute) is true)
		{
			<rz-proxy id="rz-ref-@Id" x-ref="@(attribute)" data-for="@Id"></rz-proxy>
		}
	}	
	<div x-data="rzModal"
	     id="@Id"
	     data-slot="dialog"
	     data-alpine-root="@Id"
	     data-modal-id="@Id"
	     data-body-id="@BodyId"
	     data-footer-id="@FooterId"
	     data-nonce="@Nonce"
	     data-event-trigger-name="@EventTriggerName"
	     data-close-event-name="@CloseEventName"
	     data-close-on-escape="@(CloseOnEscape.ToString().ToLowerInvariant())"
	     data-close-on-click-outside="@(CloseOnClickOutside.ToString().ToLowerInvariant())">
		@ChildContent
	</div>
</CascadingValue>
