
@namespace RizzyUI
@inherits RzComponent<RzCalendarProvider.Slots>

<div id="@Id"
     class="@SlotClasses.GetBase()"
     x-data="rzCalendarProvider" x-load="@LoadStrategy"
     data-mode="@ToVcpMode(Mode)"
     data-initial-dates="@_serializedDates"
     data-locale="@(Locale ?? "en-US")"
     data-format-options="@_serializedFormatOptions"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>