@namespace RizzyUI
@inherits RzComponent<DataTableSelectionHeaderCell.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@SlotClasses.GetBase()"
             data-slot="data-table-selection-header-cell">
    <div class="@SlotClasses.GetContent()" data-slot="@DataTableSelectionHeaderCell.SlotNames.NameOf(SlotTypes.Content)">
        <DataTableSelectAllCheckbox Scope="@Scope" AriaLabel="@AriaLabel" />
    </div>
</HtmlElement>
