
@namespace RizzyUI
@inherits RzComponent<RzCarousel.Slots>

<CascadingValue Value="this" IsFixed="true">
	<HtmlElement Element="@EffectiveElement"
	             @attributes="@AdditionalAttributes"
	             id="@Id"
	             class="@SlotClasses.GetBase()"
	             role="region"
	             aria-roledescription="carousel"
	             aria-label="@AriaLabel">
		<script type="application/json" id="@Id-config">
			@((MarkupString)_serializedConfig)
		</script>
		<div x-data="rzCarousel" x-load="@LoadStrategy"
		     data-config="@Id-config"
		     data-alpine-root="@Id"
		     data-assets="@_assets"
		     data-nonce="@Nonce"
		     class="@SlotClasses.GetWrapper()">
			@ChildContent
		</div>
	</HtmlElement>
</CascadingValue>