
@namespace RizzyUI
@inherits RzComponent<RzQuickReferenceContainer.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()">
	<div data-alpine-root="@Id" data-headings="@_headingItemsSerialized"
	     data-currentheadingid="@(_currentHeadingId)"
	     x-data="rzQuickReferenceContainer" x-load="@LoadStrategy">
		<CascadingValue Value="this" IsFixed="true">
			@ChildContent
		</CascadingValue>		
	</div>
</HtmlElement>