@namespace RizzyUI
@using Blazicons
@inherits RzComponent<MenubarRadioItem.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@SlotClasses.GetBase()"
             role="menuitemradio"
             tabindex="-1"
             aria-checked="@(Checked.ToString().ToLowerInvariant())"
             data-state="@(Checked ? "checked" : "unchecked")"
             data-radio-group="@ParentRadioGroup?.Name"
             data-radio-value="@Value"
             x-on:click="selectRadioItem"
             x-on:mouseenter="handleItemMouseEnter"
             x-on:mouseleave="handleItemMouseLeave"
             data-slot="menubar-radio-item">
    <span class="@SlotClasses.GetIndicator()" data-slot="menubar-item-indicator">
        <Blazicon Svg="MdiIcon.Circle" class="size-2 fill-current" aria-hidden="true" />
    </span>
    @ChildContent
</HtmlElement>
