@namespace RizzyUI
@inherits InputBase<string, RzColorPicker.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@SlotClasses.GetBase()"
             data-slot="color-picker">
    <div data-alpine-root="@Id"
         x-data="rzColorPicker"
         data-assets="@_assets"
         data-config="@_serializedConfig"
         data-input-id="@InputId"
         data-initial-value="@Value"
         data-nonce="@Nonce">
        <RzInputGroup class="@SlotClasses.GetInputGroup()"
                      data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.InputGroup)">
            @if (ThumbnailPosition == ColorThumbnailPosition.Start)
            {
                <InputGroupAddon class="@SlotClasses.GetThumbnailContainer()"
                                 data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.ThumbnailContainer)">
                    <div class="@SlotClasses.GetThumbnail()"
                         data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.Thumbnail)"
                         x-bind:style="swatchStyle"
                         aria-hidden="true"></div>
                </InputGroupAddon>
            }

            <InputGroupInput For="@For"
                             class="@SlotClasses.GetInput()"
                             id="@InputId"
                             placeholder="@Placeholder"
                             value="@Value"
                             data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.Input)"
                             x-ref="input"
                             x-on:input="handleInput" />

            @if (ThumbnailPosition == ColorThumbnailPosition.End)
            {
                <InputGroupAddon class="@SlotClasses.GetThumbnailContainer()"
                                 data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.ThumbnailContainer)">
                    <div class="@SlotClasses.GetThumbnail()"
                         data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.Thumbnail)"
                         x-bind:style="swatchStyle"
                         aria-hidden="true"></div>
                </InputGroupAddon>
            }
        </RzInputGroup>
    </div>
</HtmlElement>
