@namespace RizzyUI
@inherits InputBase<string, RzColorPicker.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@SlotClasses.GetBase()"
             data-slot="color-picker">
    <div data-alpine-root="@Id"
         x-data="rzColorPicker"
         data-assets="@_assets"
         data-config="@_serializedConfig"
         data-input-id="@InputId"
         data-initial-value="@Value"
         data-nonce="@Nonce">
        <RzInputGroup class="@SlotClasses.GetInputGroup()"
                      data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.InputGroup)">
            <InputGroupAddon Align="@(ThumbnailPosition == ColorThumbnailPosition.Start ? InputGroupAddonAlign.InlineStart : InputGroupAddonAlign.InlineEnd)"
                         class="@SlotClasses.GetThumbnailContainer()"
                         data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.ThumbnailContainer)"
                         role="button"
                         tabindex="0"
                         aria-label="@Localizer["RzColorPicker.A11y.Open"]"
                         x-on:click="openPicker"
                         x-on:keydown.enter.prevent="openPicker"
                         x-on:keydown.space.prevent="openPicker">
            <div class="@SlotClasses.GetThumbnail()"
                 data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.Thumbnail)"
                 x-bind:style="swatchStyle"
                 aria-hidden="true"></div>
            </InputGroupAddon>

            <InputGroupInput For="@For"
                             class="@SlotClasses.GetInput()"
                             id="@InputId"
                             placeholder="@Placeholder"
                             value="@Value"
                             data-slot="@RzColorPicker.SlotNames.NameOf(SlotTypes.Input)"
                             x-ref="input"
                             x-on:input="handleInput" />
        </RzInputGroup>
    </div>
</HtmlElement>
