
@namespace RizzyUI
@inherits RzComponent<RzIndicator.Slots>

<div x-data="rzIndicator" x-load="@LoadStrategy"
     @attributes="@AdditionalAttributes"
     data-alpine-root="@Id"
     id="@Id"
     class="@SlotClasses.GetBase()"
     data-slot="indicator"
     aria-label="@EffectiveAriaLabel"
     :aria-hidden="notVisible"
     x-show="visible"
     data-visible="@Visible.ToString().ToLowerInvariant()"
     x-cloak>
</div>