
@namespace RizzyUI
@inherits RzTypographyBase<RzHeading.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()" data-slot="heading">
    <div x-data="rzHeading" x-load="@LoadStrategy" data-alpine-root="@Id">
        @if (ChildContent == null && !string.IsNullOrEmpty(QuickReferenceTitle))
        {
            @QuickReferenceTitle
        }
        else
        {
            @ChildContent
        }
    </div>
</HtmlElement>