@namespace RizzyUI
@inherits RzComponent<RzColorPickerProvider.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@SlotClasses.GetBase()"
             data-slot="color-picker-provider">
    <div data-alpine-root="@Id"
         x-data="rzColorPickerProvider"
         data-assets="@_assets"
         data-config="@_serializedConfig"
         data-initial-value="@Value"
         data-nonce="@Nonce">
        <CascadingValue Value="_context" IsFixed="true">
            @ChildContent
        </CascadingValue>
        <input id="@($"{Id}-picker-input")"
               type="text"
               value="@Value"
               x-ref="input"
               tabindex="-1"
               class="pointer-events-none fixed -left-[9999px] -top-[9999px] h-px w-px opacity-0 m-0 p-0"
               aria-hidden="true" />
    </div>
</HtmlElement>
