
@namespace RizzyUI
@inherits RzComponent<RzArticle.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()" data-slot="article">
	<div class="@SlotClasses.GetInnerContainer()" data-slot="article-inner-container">
		<article class="@SlotClasses.GetArticle()" data-slot="article-content">
			<RzBackToTop/>
			@MainContent
		</article>

		@if (SideContent != null)
		{
			<aside class="@SlotClasses.GetAside()" aria-label="@AsideAriaLabel" data-slot="article-aside">
				@SideContent
			</aside>
		}
	</div>
</HtmlElement>