
@namespace RizzyUI
@inherits RzComponent<RzDropdownMenu.Slots>

<CascadingValue Value="this" IsFixed="true">
    <div id="@Id"
         class="@SlotClasses.GetBase()"
         x-data="rzDropdownMenu" x-load="@LoadStrategy"
         data-alpine-root="@Id"
         data-offset="@Offset"
         data-anchor="@Anchor.ToString().ToKebabCase()"
         data-modal="@IsModal.ToString().ToLowerInvariant()"
         x-on:keydown.escape.window="handleWindowEscape"
         @attributes="@AdditionalAttributes"
         data-slot="dropdown-menu">
        @ChildContent
    </div>
</CascadingValue>