
@namespace RizzyUI
@using Blazicons
@inherits RzComponent<RzDarkModeToggle.Slots>

<HtmlElement Element="@EffectiveElement"
             @attributes="@AdditionalAttributes"
             id="@Id"
             class="@SlotClasses.GetBase()"
             type="button"
             aria-label="@Localizer["RzDarkModeToggle.AriaLabel"]"
             x-data="rzDarkModeToggle" x-load="@LoadStrategy"
             x-on:click="toggle"
             data-alpine-root="@Id"
             :aria-pressed="isDark">
    <div>
        <div x-show="isLight" x-cloak>
            <Blazicon Svg="@DarkIcon" class="@SlotClasses.GetIcon()"/>
        </div>
        <div x-show="isDark" x-cloak>
            <Blazicon Svg="@LightIcon" class="@SlotClasses.GetIcon()"/>
        </div>
    </div>
</HtmlElement>