
@namespace RizzyUI
@inherits RzComponent<RzProgress.Slots>

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             id="@Id"
             data-slot="progress"
             class="@SlotClasses.GetBase()">

	             <div x-data="rzProgress" x-load="@LoadStrategy"
	                  data-alpine-root="@Id"
	                  data-label="@Label"
	                  data-current-val="@CurrentValue"
	                  data-min-val="@MinValue"
	                  data-max-val="@MaxValue"
	                  role="progressbar"
	                  aria-label="@AriaLabel"
	                  aria-valuenow="@CurrentValue"
	                  aria-valuemin="@MinValue"
	                  aria-valuemax="@MaxValue"
	                  data-progress="true">
		             
		             @if (LabelPosition == ProgressLabelPosition.Outside && !string.IsNullOrEmpty(Label))
		             {
			             <div class="@SlotClasses.GetOutsideLabelContainer()" data-slot="progress-outside-label-container">
				             <div class="grow"></div>
				             <div class="@SlotClasses.GetOutsideLabelText()" data-slot="progress-outside-label-text"><span x-text="buildLabel"></span></div>
			             </div>
		             }
		             <div class="@SlotClasses.GetOuterBar()" data-slot="progress-outer-bar">
			             <div class="@SlotClasses.GetInnerBar()" x-ref="progressBar" nonce="@Nonce" data-slot="progress-inner-bar">
				             @if (LabelPosition == ProgressLabelPosition.Inside && !string.IsNullOrEmpty(Label))
				             {
					             <div class="@SlotClasses.GetInsideLabelContainer()" x-ref="progressBarLabel" :class="getLabelCss" data-slot="progress-inside-label-container">
						             <span class="@SlotClasses.GetInsideLabelText()" x-ref="innerLabel" data-slot="progress-inside-label-text"></span>
					             </div>
				             }
			             </div>
		             </div>

	             </div>
</HtmlElement>