@namespace RizzyUI
@inherits RzComponent<RzTableSlots>

<CascadingValue Value="this" Name="ParentRzTable" IsFixed="true">
    <HtmlElement Element="div" id="@Id" @attributes="@AdditionalAttributes" class="@SlotClasses.GetBase()" data-slot="table-container">
        <table id="@TableId" class="@SlotClasses.GetTable()" data-slot="table">
            @ChildContent
        </table>
    </HtmlElement>
</CascadingValue>
