@namespace RizzyUI
@typeparam TItem
@inherits RzComponent<TableBodySlots>

<HtmlElement Element="@EffectiveElement" id="@Id" @attributes="@AdditionalAttributes" class="@SlotClasses.GetBase()" data-slot="table-body">
    @if (EffectiveItems.Any())
    {
        var rowIndex = ((ParentRzTable?.CurrentPage ?? 1) - 1) * (ParentRzTable?.PageSize ?? 10);
        foreach (var item in EffectiveItems)
        {
            <CascadingValue Value="rowIndex" Name="RowIndex" IsFixed="false">
                @RowTemplate(item)
            </CascadingValue>
            rowIndex++;
        }
    }
    else if (EmptyTemplate != null)
    {
        <tr class="border-b transition-colors" data-slot="table-row">
            <TableCell TItem="@TItem" Colspan="@ColumnCount">
                @EmptyTemplate
            </TableCell>
        </tr>
    }
    else
    {
        <tr class="border-b transition-colors" data-slot="table-row">
            <TableCell TItem="@TItem" Colspan="@ColumnCount">
                @Localizer["RzTable.DefaultEmptyMessage"]
            </TableCell>
        </tr>
    }
    @if (ParentRzTable?.IsLoading == true)
    {
        <tr class="border-b transition-colors" data-slot="table-row">
            <TableCell TItem="@TItem" Colspan="@ColumnCount">
                <div class="flex items-center justify-center py-3" data-slot="table-loading">
                    <RzSpinner Size="Size.Small" />
                </div>
            </TableCell>
        </tr>
    }
</HtmlElement>
