@namespace RizzyUI
@inherits RzComponent<TableHeaderCellSlots>

<HtmlElement Element="@EffectiveElement" id="@Id" @attributes="@AdditionalAttributes" class="@SlotClasses.GetBase()" data-slot="table-head">
    <span class="@SlotClasses.GetTitleSpan()" data-slot="@TableHeaderCellSlotNames.NameOf(TableHeaderCellSlotTypes.TitleSpan)">@ChildContent</span>
</HtmlElement>
