@namespace RizzyUI
@inherits RzComponent<InputOTPSlot.Slots>

<HtmlElement Element="@EffectiveElement"
             id="@Id"
             @attributes="@AdditionalAttributes"
             class="@GetSlotClasses()"
             data-slot="input-otp-slot"
             data-input-otp-slot="true"
             data-index="@Index"
             data-active="false"
             x-init="registerSlot"
             x-on:mousedown="preventMouseDown"
             x-on:click="focusSlot"
             aria-invalid="@ParentInputOTP?.GetInvalidValue().ToString().ToLowerInvariant()">
    <span class="@SlotClasses.GetCharacter()" data-slot="@InputOTPSlot.SlotNames.NameOf(SlotTypes.Character)" data-input-otp-char="true"></span>
    <div class="pointer-events-none absolute inset-0 flex items-center justify-center hidden" data-slot="@InputOTPSlot.SlotNames.NameOf(SlotTypes.CaretWrapper)" data-input-otp-caret="true">
        <div class="animate-caret-blink bg-foreground h-4 w-px duration-1000" data-slot="@InputOTPSlot.SlotNames.NameOf(SlotTypes.Caret)"></div>
    </div>
</HtmlElement>
